.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2%;
  background: #0f1849;
  position: relative;
  z-index: 1;
}

.navbar-logo {
  height: 9vh;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-icon {
  height: 5vh;
  padding-left: 1rem;
  width: auto;
}

.nav-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
